@import '_colors';

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1070px;
  height: 100%;
  margin: 0 auto;
}

header {
  height: 100px;
  background: $header-bg;
  color: white;

  img {
    height: 50px;
    margin-top: 10px;
  }
}

main {
  background: $main-bg;

  .discs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;

    .disc {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex-basis: 200px;
      padding: 15px;
      margin: 10px 20px;
      height: 370px;
      background: $disc-bg;
      text-align: center;

      img {
        max-width: 100%;
      }

      h3 {
        margin: 20px 0;
        color: $title-color;
        font-size: 22px;
        text-transform: uppercase;
      }

      .author {
        color: grey;
        font-size: 20px;
      }

      .year {
        color: grey;
      }
    }
  }
}
